/local.properties
/build/android-profile/profile-2017-09-05-13-23-19-745.rawproto
/build/android-profile/profile-2017-09-05-13-23-19-745.json
/build/android-profile/profile-2017-09-05-13-23-08-473.rawproto
/build/android-profile/profile-2017-09-05-13-23-08-473.json
/.idea/workspace.xml
/.idea/misc.xml
/.idea/copyright/profiles_settings.xml
/.idea/compiler.xml
/.gradle/4.1/fileHashes/fileHashes.lock
/.gradle/4.1/fileHashes/fileHashes.bin
